.portfolio {
  display: flex;
  flex-direction: column;
  /* min-width: 1200px; */
  align-items: center;
  position: relative;
  height: 100vh;
}

.portfolio__title {
  font-family: "Manrope", "Arial", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  align-items: center;
  color: #f1f1f1;
  margin: 40px 0 30px 50px;
  display: inline-block;
  align-self: flex-start;
  letter-spacing: 0.15em;
  line-height: 32px;
}

.portfolio__work {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 30px;
}

.portfolio__video {
  background-image: url(../../images/fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 250px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Manrope", "Arial", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.15em;
  line-height: 32px;
}

.portfolio__video:hover {
  transform: scale(110%);
}

/* .portfolio__arrow {
  top: calc(100vh - 100px);
  background-repeat: no-repeat;
  height: 40px;
  width: 100px;
  animation: go-arrow 1.5s 4 alternate-reverse ease-in 1s;
  background-image: url(../../images/arrow.svg);
  background-size: contain;
  cursor: pointer;
  margin: 0 auto 30px;
} */

.portfolio__arrow {
    border: 3px solid #4543E8;
    border-radius: 79px;
    width: 200px;
    height: 80px;
    background-color: inherit;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0 auto 30px;
    transition: background-color 0.6s;
    letter-spacing: 0.15em;
    line-height: 32px;
  }

  .portfolio__arrow:hover {
    background-color: rgb(82, 86, 190, 0.6);
  }

  @media screen and (max-width: 550px) {
    .portfolio__video {
      width: 30px;
    }

  }