@import url(../src/vendor/normalize.css);
@import url(../src/vendor/font/font.css);

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.page {
	color: rgb(255, 255, 255);
	font-family: "Manrope", "Arial", sans-serif;
	min-width: 320px;
  max-width: 2560px;
  width: 100%;
  margin: 0;
  background: linear-gradient(180deg, #656565 0%, #0B0D30 100%);
}
